<div class="font-sans overflow-auto">
    <div class="min-w-[600px] grid grid-cols-1 w-full gap-y-4">
        <div class="flex justify-between">
            <div class="flex items-center gap-1">
                <label for="filtros">Filtros</label>
                <span class="material-icons cursor-pointer" (click)="toggleFilters()">
                    {{ filtersVisible ? 'visibility_off' : 'visibility' }}
                </span>
            </div>
            <button (click)="exportToExcel()" class="flex items-center bg-blue-500 text-white px-4 py-2 rounded">
                <span class="material-icons mr-2">file_download</span>
                Exportar a Excel
            </button>            
        </div>
        <div>
            <div class="flex rounded-tr-lg rounded-tl-lg shadow p-4 bg-black text-white font-medium gap-x-5">
                <div *ngFor="let col of columnas" [ngClass]="getWidthClass(col.width)" class="text-left flex justify-between">
                    <div class="flex items-center gap-1">
                        <label>{{ col.nombre }}</label>
                        <span class="material-icons cursor-pointer" (click)="toggleSortOrder(col.nombre)">
                            {{ activeSortColumn === col.nombre ? (sortAscending ? 'arrow_upward' : 'arrow_downward') : 'unfold_more' }}
                        </span>
                    </div>
                </div>
            </div>
            <hr>
            
            <div *ngIf="filtersVisible" class="flex rounded-b-lg shadow p-4 bg-black text-white font-medium gap-x-5">
                <div *ngFor="let col of columnas" [ngClass]="getWidthClass(col.width)" class="text-left">
                    <input type="text" placeholder="Filtro"
                        (input)="filters[col.nombre.toLowerCase()] = $any($event.target).value; getFilteredItems()"
                        class="p-2 text-black rounded focus:outline-none focus:ring-2 focus:ring-blue-500 w-full">
                </div>
            </div>
                        
        </div>


        <div *ngFor="let item of getFilteredItems()" class="flex p-4  bg-white rounded-md shadow mb-2 items-center h-14 gap-x-5">
            <div *ngFor="let col of columnas" [ngClass]="getWidthClass(col.width)" class="text-left">
                {{ item[col.nombre.toLowerCase()] }}
            </div>
        </div>

        <div *ngIf="getFilteredItems().length === 0" class="text-center text-gray-500 mt-4">
            No se encontraron resultados.
        </div>

        <div class="flex justify-between items-center p-4" *ngIf="false">
            <button (click)="previousPage()" 
                    [disabled]="currentPage === 1" 
                    class="flex items-center bg-blue-500 text-white rounded-md px-3 py-2 shadow hover:bg-blue-600 transition duration-200 ease-in-out">
                <span class="material-icons">arrow_back</span>
                Previous
            </button>
        
            <div class="flex items-center">
                <span class="mx-2">Página {{ currentPage }} de {{ totalPages }}</span>
            </div>
        
            <button (click)="nextPage()" 
                    [disabled]="currentPage * itemsPerPage >= totalItems" 
                    class="flex items-center bg-blue-500 text-white rounded-md px-3 py-2 shadow hover:bg-blue-600 transition duration-200 ease-in-out">
                Next
                <span class="material-icons">arrow_forward</span>
            </button>
        </div>
        
    </div>
</div>